extend auxiliary/layout.with.ids

attributesOf #content(yeah="yeaha", a=false)
remove #content2
contentOf #content3
	a coucou
prependTo #content3
	hum
appendTo #content3
	ham
insertNextTo #content3
	#inserted
insertBefore #content3
	#insertedbefore